<!--{%load static%}-->
<!DOCTYPE html>
<html dir="ltr">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<!--<link rel="stylesheet" href="{% static 'css/porsesh.css' %}">-->
	<!--<script src="{% static 'js/jquery-3.4.1.js' %}"></script>-->
	<!--<script src="{% static 'js/digitat_porsesh.js' %}"> </script>-->
	<link rel="stylesheet" href="../static/css/contact_style.css">
	<script src="../static/js/jquery-3.4.1.js"></script>
	<script>
        $(document).ready(function(){
            $('#header').load('header.html', function() {
                $(".banner").attr('src', '../static/img/about-banner.jpg');
                $("#form1").css('display', 'none');
                var mainTitle = '<h1>تماس با ما ‌ما</h1>';
                $(".main-title").html(mainTitle).css('top', '20%');
                $(".container").css('height', '12vw');

            });
            $("#footer").load("footer.html");
        });
	</script>
</head>

<body>
<div id="header"></div>
<div class="contact-content back-white-color1">
	<div class="contact-all-info">
		<div class="contact-info">
			<img src="../static/img/loc.png" alt="">
			<h3>نشانی</h3>
			<p class="gray-color">آذربایجان شرقی- تبریز- پاستور جدید- ساختمان مبین- طبقه 4- واحد 2</p>
		</div>
		<div class="contact-info">
			<img src="../static/img/telephone.png" alt="">
			<h3>شماره تماس</h3>
			<p class="gray-color">آذربایجان شرقی- تبریز- پاستور جدید- ساختمان مبین- طبقه 4- واحد 2</p>
		</div>
		<div class="contact-info">
			<img src="../static/img/email2.png" alt="">
			<h3>آدرس ایمیل</h3>
			<p class="gray-color">آذربایجان شرقی- تبریز- پاستور جدید- ساختمان مبین- طبقه 4- واحد 2</p>
		</div>
	</div>
	<div class="contact-form">
		<h1 class="violet-color">فرم ارسال پیام</h1>
		 <br>
		<form class="violet-color" action="/">
		  <div class="form-group">
				<label for="name">نام</label>
				<br>
				<input  type="text" id="name" name="name">
			</div>
          <div class="form-group">
			  <label for="last-name">نام خانوادگی</label>
			  <br>
			  <input  type="text" id="last-name" name="last-name">
		  </div>
			<br> <br>
          <div class="form-group">
			  <label for="phone-number">تلفن همراه</label>
			  <br>
			  <input  type="number" id="phone-number" name="phone-number">
		  </div>
          <div class="form-group">
			  <label for="email">ایمیل</label>
			  <br>
			  <input  type="email" id="email" name="email">
		  </div>
			<br><br>
          <div class="form-group">
			  <label class="last-label" for="message">متن پیام</label>
			  <br>
			  <textarea  id="message" name="message"></textarea>
		  </div>
			<br>
			<button class="btn submit-btn" type="submit" value="Submit">ارسال</button>
		</form>
	</div>
</div>
<div id="footer"></div>
</body>

</html>