<!DOCTYPE html>
<html dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
</head>
<body>
<div class="footer">
    <p>  با عضویت در خبرنامه‌ سایت دی جی تات <span class="red-color">تخفیفات</span> و <span class="red-color">آموزش های جدید</span> را از دست ندهید.</p>
    <div class="email-box">
        <input  type="text"   name="email" class="email"  placeholder="لطفا ایمیل خود را وارد نمایید..."   />
        <img class="email-img" src="../static/img/email-img.png" alt="">
        <button type="submit" class="btn email-btn">عضویت</button>
    </div>
    <p>دیجیتات را در شبکه‌های اجتماعی دنبال کنید.</p>
    <img class="social-img" src="../static/img/telegram.png" alt="">
    <img class="social-img" src="../static/img/instagram.png" alt="">
    <img class="social-img" src="../static/img/viber.png" alt="">
    <p>
        سایت آنلاین دیجی تات با برگزاری آزمون‌های استاندارد ،آموزش‌های الکترونیکی برنامه ریزی و برگزاری کلاس های آنلاین خصوصی و گروهی همواره در کنار شما در تلاش است تا بهترین باشید و بدرخشید
    </p>
    <img src="../static/img/enamad.png" alt="">
</div>
</body>
</html>