<!--{%load static%}-->
<!DOCTYPE html>
<html dir="ltr">
<script lang="javascript">
	function py(){
		location.replace("/viewcourse/10001/");
	}
</script>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<script src="../static/js/jquery-3.4.1.js"></script>
	<!--<script src="{% static 'js/jquery-3.4.1.js'%}"></script>-->
	<!--<script src="{% static 'js/home_script.js'%}"></script>-->
</head>
<script>
    $(function(){
        $("#header").load("header.html");
        $("#footer").load("footer.html");
    });
</script>
<body>
<div id="header"></div>
<div class="content back-white-color2">
 <div class="content-new">
	 <div style="padding-right: 2%;
    padding-left: 8%;">
		 <h3 class="texth3 content-title"> <span class="black-color">جدید ترین</span>  آموزش‌ها<div></div> </h3>
		 <a href="">نمایش بیشتر</a>
	 </div>

	 <div class="desktop-hide"></div>
	 <div class="content-new-previews">
		 <div class="one-fifth-width  back-white-color preview">
			 <div class="back-course-blue-to-violet back-course-border">
				 <img class="back-course-img" src="../static/img/back-course.png" alt="">
				 <img class="new-group-course-img back-circle-large" src="../static/img/back_circle.png" alt="">
				 <img class="new-group-course-img" src="../static/img/csharp.png" alt="">
				 <h3>آموزش یادگیری ماشین</h3>
				 <div class="preview-padding-section">
					 <h2>یادگیری ماشین</h2>
					<div>
						<span class="price new-price">رایگان</span>
						<button type="submit" class="btn btn-new">خرید درس+</button>
					</div>
				 </div>
			 </div>
		  </div>
		 <div class="one-fifth-width preview back-white-color">
			 <div class="back-course-blue-to-violet back-course-border">
				 <img class="back-course-img" src="../static/img/back-course.png" alt="">
				 <img class="new-group-course-img back-circle-large" src="../static/img/back_circle.png" alt="">
				 <img class="new-group-course-img" src="../static/img/python-popular-preview.png" alt="">
				 <h3>نامه نویسی پایتون</h3>
				 <div class="preview-padding-section">
					 <h2> آموزش نامه نویسی پایتون نویسی پایتون</h2>
					 <div>
						 <span class="price new-price">رایگان</span>
						 <button type="submit" class="btn btn-new">خرید درس+</button>
					 </div>
				 </div>
			 </div>
		 </div>
		 <div class="one-fifth-width preview back-white-color">
			 <div class="back-course-blue-to-violet back-course-border">
				 <img class="back-course-img" src="../static/img/back-course.png" alt="">
				 <img class="new-group-course-img back-circle-large" src="../static/img/back_circle.png" alt="">
				 <img class="new-group-course-img" src="../static/img/matlabb.png" alt="">
				 <h3>آموزش نامه نویسی متلب</h3>
				 <div class="preview-padding-section">
					 <h2>نامه نویسی متلب</h2>
					 <div>
						 <span class="price new-price">رایگان</span>
						 <button type="submit" class="btn btn-new">خرید درس+</button>
					 </div>
				 </div>
			 </div>
		 </div>
		 <div class="one-fifth-width preview back-white-color">
			 <div class="back-course-blue-to-violet back-course-border">
				 <img class="back-course-img" src="../static/img/back-course.png" alt="">
				 <img class="new-group-course-img back-circle-large" src="../static/img/back_circle.png" alt="">
				 <img class="new-group-course-img" src="../static/img/cplusplus.png" alt="">
				 <h3>آموزش برنامه نویسی ++c</h3>
				 <div class="preview-padding-section">
					 <h2>برنامه نویسی ++c</h2>
					 <div>
						 <span class="price new-price">رایگان</span>
						 <button type="submit" class="btn btn-new">خرید درس+</button>
					 </div>
				 </div>
			 </div>
		 </div>
	 </div>
 </div>
 <div class="content-about-us">
	 <h3 class="texth3 content-title"> <span class="black-color">درباره</span>  تیم ما<div></div> </h3>
	 <div class="desktop-hide"></div>

	 <img class="content-about-us-img" src="../static/img/home-about-us.png" alt="">
	 <div class="content-about-us-box">
		 <p>شرکت ما در زمینه ی تولید محتوا کار میکنه شرکت ما در زمینه ی تولید محتوا کار میکنه شرکت ما در زمینه ی تولید محتوا کار میکنه شرکت ما در زمینه ی تولید محتوا کار میکنه
			 تولید محتوا کار میکنه شرکت ما در زمینه ی تولید محتوا کار میکنه تولید محتوا کار میکنه شرکت ما در زمینه ی تولید محتوا کار میکنه
			 تولید محتوا کار میکنه شرکت ما در زمینه ی تولید محتوا کار میکنه تولید محتوا کار میکنه شرکت ما در زمینه ی تولید محتوا کار میکنه
		 </p>
		 <div class="center">
			 <button class="btn btn-more-info">اطلاعات بیشتر</button>
		 </div>
	 </div>
	 <div class="mobile content-about-us-mobile-img" ><img  src="../static/img/mobile-content-about-us.png" alt=""></div>
	 <!--<div class="center">-->
		 <!--<button class="btn btn-more-info">اطلاعات بیشتر</button>-->
	 <!--</div>-->

 </div>
 <div class="content-most-popular">
	 <div class="content-most-popular-right-section">
			<h1>پرفروشترین‌ها</h1>
		 <div><button class="btn show-all-btn">نمایش همه</button></div>
				<img src="../static/img/book.png" alt="">

		</div>
	 <div class="first one-fifth-width preview back-white-color">
		 <img src="../static/img/Rectangle36.png" alt="">
		 <img class="new-group-course-img" src="../static/img/csharp.png" alt="">
		<div class="preview-padding-section">
		 <h2>برنامه نویسی سی شارپ </h2>
		 <div>
			 <span class="price new-price">رایگان</span>
			 <button class="btn btn-new">خرید درس+</button>
		 </div>
        </div>
	 </div>
	 <div class="mobile show-all-btn-fix">
	 <img src="../static/img/arrow.png" alt="">
	 </div>
	 <div class="one-fifth-width preview back-white-color">
		 <img src="../static/img/Rectangle36.png" alt="">
		 <img class="new-group-course-img" src="../static/img/cplusplus.png" alt="">
		 <div class="preview-padding-section">
			 <h2>برنامه نویسی ++c</h2>
			 <div>
				 <span class="price new-price">رایگان</span>
				 <button class="btn btn-new">خرید درس+</button>
			 </div>
		 </div>
	 </div>
	 <div class="one-fifth-width preview back-white-color">
		 <img src="../static/img/Rectangle36.png" alt="">
		 <img class="new-group-course-img" src="../static/img/matlabb.png" alt="">
		 <div class="preview-padding-section">
			 <h2>برنامه نویسی متلب</h2>
			 <div>
				 <span class="price new-price">رایگان</span>
				 <button class="btn btn-new">خرید درس+</button>
			 </div>
		 </div>
	 </div>

 </div>
</div>
<div id="footer"></div>
</body>
</html>