<!--{% load static%}-->

<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>حساب کاربری</title>
    <!--<link rel="stylesheet" href="../static/css/profile.css">-->
    <!--<script src="../static/js/jquery-3.4.1.js"></script>-->
    <!--<script src="../static/js/prf.js"></script>-->
    <link rel="stylesheet" href="../static/css/profile.css">
    <link rel="stylesheet" href="../static/css/karname.css">
    <script src="../static/js/jquery-3.4.1.js"></script>
    <script>
        $(document).ready(function(){
            $('#header').load('header.html', function() {
                $(".banner").attr('src', '../static/img/about-banner.jpg');
                $("#form1").css('display', 'none');
                var mainTitle = '<h1>حساب کاربری</h1>';
                $(".main-title").html(mainTitle).css('top', '20%');
                $(".container").css('height', '35vw');
                $(".container").css('z-index', '-1');

            });
            $("#footer").load("footer.html");
        });
    </script>
</head>

<body>
<div id="header"></div>
<div class="profile-content">
    <div class="profile back-white-color1">
        <div class="profile-right-section back-white-color3">
            <img src="../static/img/profile-img.png" alt="">
            <h2 class="light-blue-color">عسل اسمعیلی</h2>
            <h3>مقطع: کارشناسی ارشد</h3>
            <h3>کدملی:  ۸۹۷۹۸۲۳۷۴۹۸۹۱۲۳</h3>
            <div> <button class="btn back-white-blue-color light-blue-color"><span>ویرایش اطلاعات</span> <img src="../static/img/edit-profile.svg" alt=""></button></div>
            <img src="../static/img/login.png" alt="">
        </div>
        <div class="profile-left-section">
            <div class="profile-header back-white-color3">
                <nav>
                    <ul>
                        <li class="right-text">
                            <a href="">
                                <img src="../static/img/student.png" alt="">
                                <span class="light-blue-color"> کد امتحانی </span>

                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../static/img/text.png" alt="">
                                <span class="light-blue-color">  عنوان امتحانی: نمایه سازی </span>

                            </a>
                        </li>
                        <li class="left-text">
                            <a href="">
                                <img src="../static/img/logout.png" alt="">
                                <span class="light-blue-color"> خروج از حساب کاربری </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="evaluation">
                <div class="evaluation-header back-white-blue-color1">
                    <nav>
                        <ul>
                            <li class="right-text"><a class="black-color " href="">کارنامه</a></li>
                            <li class="left-text"><a class="red-color " href="">خروج از کارنامه</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="evaluation-table">
                    <table class="table desktop-table">
                        <thead class="light-blue-color">
                        <th>مرحله</th>
                        <th>عنوان آزمون</th>
                        <th>تاریخ آزمون</th>
                        <th>وضعیت</th>
                        <th>مشاهده کارنامه</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td> 1</td>
                            <td>برنامه نویسی پایتون</td>
                            <td> ۱۳۹۹/۰۹/۱۸ </td>
                            <td>تکمیل نشده</td>
                            <td><button class="back-sky-blue-color light-blue-color">دانلود</button></td>
                        </tr>
                        <!--{%endfor%}-->
                        </tbody>
                    </table>
                    <table class="table mobile-table">
                        <tr>
                            <th class="light-blue-color">مرحله</th>
                            <td> ۱</td>
                        </tr>
                        <tr>
                            <th class="light-blue-color">عنوان آزمون</th>
                            <td>برنامه نویسی پایتون</td>
                        </tr>
                        <tr>
                            <th class="light-blue-color">تاریخ أزمون</th>
                            <td> ۹۹/۰۹/۰۴</td>
                        </tr>
                        <tr>
                            <th class="light-blue-color">وضعیت</th>
                            <td>پرداخت نشده</td>
                        </tr>
                        <tr>
                            <th class="light-blue-color">دانلود</th>
                            <td><button class="back-sky-blue-color light-blue-color">دانلود</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <img class="login-label" src="../static/img/login-label.png" alt="">
    </div>
</div>
<div id="footer"></div>
</body>

</html>