{%load static%}
<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/krnm.css' %}">
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/karname_script.js' %}"> </script>
</head>

<body>
    <nav>
        <label id="logo"> <img src="{% static 'img/Dig.png' %}" class="logo"> </label>
        <ul>
            <li><a href="/">خروج</a></li>
            <li><a href="" class="active">کارنامه</a></li>
            <li><a href="/">خانه</a></li>
        </ul>
        <label id="icon"> <img src="{% static 'img/menu.png' %}"> </i> </label>
    </nav>

    <form id="form9"> {%csrf_token%}
        <div class="element-table">
            <table class="table">
                <thead>
                    <th>درس</th>
                    <th>ضریب</th>
                    <th>پاسخ صحیح</th>
                    <th>پاسخ نادرست</th>
                    <th>پاسخ نداده</th>
                    <th>درصد</th>
                    <th>رتبه</th>
                </thead>
                <tbody>
                    {%for dt in karname%}
                    <tr>
                        <td data-label="درس">{{dt.0}}</td>
                        <td data-label="ضریب">{{dt.1}}</td>
                        <td data-label="پاسخ صحیح">{{dt.2}}</td>
                        <td data-label="پاسخ نادرست">{{dt.3}}</td>
                        <td data-label="پاسخ نداده">{{dt.4}}</td>
                        <td data-label="درصد">{{dt.5}}</td>
                        <td data-label="رتبه">{{dt.6}}</td>
                    </tr>
                    {%endfor%}
                    <tr>
                        <td><strong>رتبه کل:  {{rotbe}}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col" style="display: none;">
            <input type="text" name="kodm" id="kodm" value="{{kodm}}">
        </div>
        <div class="col" style="display: none;">
            <input type="text" name="magta" id="magta" value="{{magta}}">
        </div>
        <div class="col" style="display: none;">
            <input type="text" name="kod" id="kod" value="{{kod}}">
        </div>
        <div class="col" style="display: none;">
            <input type="text" name="ramz" id="ramz" value="{{ramz}}">
        </div>
        <div class="col" style="display: none;">
            <input type="text" name="tedad" id="tedad" value="{{tedad}}">
        </div>
        <div class="col" style="display: none;">
            <input type="text" name="marhale" id="marhale" value={{marhale}}>
        </div>
    </form>
    <footer class="footer">
        <div>کلیه حقوق مادی و معنوی این محصول متعلق به شرکت دیجیتال تراکنش تبریز می باشد</div>
    </footer>
</body>

</html>